<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.instagram.com/lionsdencnx/" class="btn btn-social" target="_blank" rel="noopener">
          <i class="fab fa-instagram"></i> Instagram
        </a>
        <a href="https://maps.app.goo.gl/qEYyWWvP2nVe9auX7" class="btn btn-social" target="_blank" rel="noopener">
          <i class="fas fa-map-marker-alt"></i> Google Maps
        </a>
        <a href="https://lin.ee/E7P1Tfz" class="btn btn-social btn-outline" target="_blank" rel="noopener">
          <i class="fab fa-line"></i> Line Official
        </a>
        <a href="https://docs.google.com/document/d/e/2PACX-1vT-dcMm3UCi2A2WhDEJ_zD3qYwNQCPKt5kvvK2S-G_H0GAtW5CAPBUM00RHrSWwI4GlP7olBtTYjkh5/pub"
          class="btn btn-social btn-outline" target="_blank" rel="noopener">
          <i class="fas fa-file-alt"></i> Gym Info (Google Doc)
        </a>
      </div>
    </div>
  </div>
</section>