<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>Drop in, roll the dice, and make yourself at home!</p>
      </div>
      <div style="width: 100%;">
        <iframe
          src="https://docs.google.com/document/d/e/2PACX-1vQp4QOCa4kjTZ0w2ysFVZ2AAeIh1aimHYEg0U4WltUjWkCrtl40IXf0oFnrDLVRkT5Y_lYhG9q_asgR/pub?embedded=true"
          height="100%" style="width:100%; height: 100%; border: none;  min-height: 650px; background-color: white; 
                  margin: 0 auto; padding: 0; overflow: hidden; display: block; position: relative; z-index: 1; "></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Nestled in the heart of Chiang Mai, Game Tree Cafe is your local hangout for great coffee, tasty bites, and
          hundreds
          of board games to play with friends old and new. Whether you're a casual player, hardcore strategist, or just
          looking
          for a chill spot to work or relax, there's a seat at the table for you.</p>
      </div>
    </div>
  </div>
</section>
